*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

font-family:Inter,sans-serif;

background:
radial-gradient(circle at top,#2563eb22,transparent 35%),
radial-gradient(circle at bottom right,#7c3aed22,transparent 35%),
#050816;

color:white;

overflow-x:hidden;

}

section{

padding:120px 8%;

}

button{

cursor:pointer;

transition:.35s;

font-family:inherit;

}

button:hover{

transform:translateY(-5px);

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#2563eb;

border-radius:20px;

}
