.hero{
  min-height:100vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:120px 8%;
  gap:80px;
  background:
    radial-gradient(circle,#2563eb33,transparent 30%),
    linear-gradient(180deg,#050816,#0f172a);
}

.hero-left{
  flex:1;
}

.hero-right{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hero-badge{
  display:inline-block;
  padding:10px 22px;
  border-radius:999px;
  background:rgba(255,255,255,.08);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,.1);
  color:#60a5fa;
  margin-bottom:35px;
  font-weight:700;
}

.hero h1{
  font-size:92px;
  font-weight:900;
  line-height:1.05;
  background:linear-gradient(90deg,#ffffff,#60a5fa,#8b5cf6);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  margin-bottom:30px;
}

.hero p{
  font-size:24px;
  max-width:700px;
  color:#cbd5e1;
  line-height:1.8;
  margin-bottom:50px;
}

.hero-buttons{
  display:flex;
  gap:20px;
}

.primary-btn{
  padding:18px 40px;
  background:linear-gradient(90deg,#2563eb,#7c3aed);
  color:white;
  border:none;
  border-radius:18px;
  font-size:18px;
  font-weight:700;
  cursor:pointer;
  box-shadow:0 20px 60px rgba(37,99,235,.35);
}

.secondary-btn{
  padding:18px 40px;
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.1);
  color:white;
  border-radius:18px;
  backdrop-filter:blur(20px);
  cursor:pointer;
}

.profile-image{
  width:380px;
  height:380px;
  object-fit:cover;
  border-radius:50%;
  border:6px solid #3b82f6;
  box-shadow:0 0 50px rgba(59,130,246,.5);
  transition:0.4s;
}

.profile-image:hover{
  transform:scale(1.05);
  box-shadow:0 0 80px rgba(59,130,246,.8);
}

@media(max-width:900px){
  .hero{
    flex-direction:column-reverse;
    text-align:center;
    padding:80px 20px;
  }

  .hero-buttons{
    justify-content:center;
  }

  .hero h1{
    font-size:56px;
  }

  .hero p{
    font-size:20px;
  }

  .profile-image{
    width:280px;
    height:280px;
    margin-bottom:40px;
  }
}
