.hero{

min-height:92vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:120px 20px;

background:
radial-gradient(circle at top,#60a5fa22,transparent 40%),
linear-gradient(180deg,#ffffff,#f8fafc);

overflow:hidden;

}

.hero-badge{

padding:10px 22px;

background:#eff6ff;

color:#2563eb;

border:1px solid #bfdbfe;

border-radius:999px;

font-weight:700;

margin-bottom:30px;

}

.hero h1{

font-size:88px;

font-weight:900;

line-height:1.05;

letter-spacing:-3px;

max-width:1000px;

color:#111827;

margin-bottom:25px;

}

.hero p{

font-size:24px;

max-width:760px;

color:#6b7280;

line-height:1.8;

margin-bottom:50px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.primary-btn{

padding:18px 40px;

border:none;

border-radius:16px;

background:#2563eb;

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.35s;

box-shadow:0 15px 35px rgba(37,99,235,.25);

}

.primary-btn:hover{

transform:translateY(-6px);

}

.secondary-btn{

padding:18px 40px;

border-radius:16px;

border:1px solid #d1d5db;

background:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.35s;

}

.secondary-btn:hover{

transform:translateY(-6px);

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

@media(max-width:768px){

.hero h1{

font-size:52px;

}

.hero p{

font-size:18px;

}

.hero-buttons{

flex-direction:column;

}

}
