.hero{

min-height:85vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:80px 20px;

background:linear-gradient(180deg,#ffffff,#f8fafc);

}

.hero-badge{

background:#dbeafe;

color:#2563eb;

padding:10px 20px;

border-radius:30px;

font-weight:700;

margin-bottom:30px;

}

.hero h1{

font-size:72px;

font-weight:900;

line-height:1.1;

color:#111827;

margin-bottom:25px;

}

.hero p{

font-size:22px;

max-width:750px;

color:#6b7280;

line-height:1.7;

margin-bottom:45px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.primary-btn{

padding:16px 34px;

border:none;

border-radius:14px;

background:#2563eb;

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.primary-btn:hover{

background:#1d4ed8;

transform:translateY(-3px);

}

.secondary-btn{

padding:16px 34px;

border:none;

border-radius:14px;

background:#f3f4f6;

color:#111827;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.secondary-btn:hover{

background:#e5e7eb;

transform:translateY(-3px);

}
