.navbar{

position:fixed;

top:20px;

left:50%;

transform:translateX(-50%);

width:90%;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 35px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.08);

border-radius:25px;

z-index:1000;

}
