.skills{

padding:120px 8%;

background:transparent;

}

.skills h2{

text-align:center;

font-size:60px;

margin-bottom:60px;

background:linear-gradient(90deg,#ffffff,#60a5fa,#8b5cf6);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.skills-container{

max-width:900px;

margin:auto;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

padding:45px;

border-radius:30px;

border:1px solid rgba(255,255,255,.08);

}

.skill{

margin-bottom:28px;

}

.skill-title{

display:flex;

justify-content:space-between;

margin-bottom:10px;

font-size:18px;

color:white;

}

.progress{

height:12px;

background:rgba(255,255,255,.08);

border-radius:20px;

overflow:hidden;

}

.progress-bar{

height:100%;

background:linear-gradient(90deg,#2563eb,#7c3aed);

border-radius:20px;

}
